@import url("font/trenda.css");

:root {
	--background-color: white;
	--yellow: #F7B850;
	--lightyellow: #ffce80;
	--superlightyellow: #f7b7502d;
	--grey: #F8F8F8;
	--dark-grey: #9DA0AF;
	--darker-grey: #7a7b81;
	--black: #191A1E;
	--font-regular: 'Trenda Regular';
	--font-bold: 'Trenda Bold';
	--font-bold-italic: 'Trenda Bold It';
	--font-thin: 'Trenda Thin';
	--font-thin-italic: 'Trenda Thin It';
	--font-semibold: 'Trenda Semibold';
	--navbar-height: 120px;

	--orange: #F86E45;
	--background-orange: #FAEFEA;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

body {
	color: var(--black);
	box-sizing: border-box;
	font-family: 'Trenda Regular';
	max-width: 1500px;
	max-height: 1000px;
	margin: 0 auto;
}
